{% extends "signed_out.html" %}
{% block content %}
<h2>Signin</h2>
<form method="POST">
    {% csrf_token %}
    {# {{ form.as_p }} #}

    {% if messages %}
    <div class="mb-3">
        {% for message in messages %}
            <div class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %} mb-2"
                 role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}


    <label for="email" >Email</label>
    <input type="email" name="username" id="id_username" class="form-control" required>

    <label for="password" >Confirm Password</label>
    <input type="password" name="password" id="id_password" class="form-control mb-2" required>


    <button type="submit">Signin</button>
</form>
{% endblock %}
