{% extends "base.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="min-height: {{ nav_height }}; max-height: {{ nav_height }};">
  <div class="container-fluid">

    <a class="navbar-brand" href="/webapps2025/">PayApp</a>
    <div>{{ user.email }}</div>

    <div class="ms-2">{{ current }}</div>
    <div class="ms-2">{{ balance }}</div>
    <div class="ms-2">{{ currency }}</div>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="/webapps2025/admin">Home</a>

        <a class="nav-link" href="/webapps2025/admin/logout">Sign Out</a>
        <a class="nav-link" href="/webapps2025/admin/register">Create Admin</a>
      </div>
    </div>


  </div>
</nav>

{% endblock %}


